body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#container {
    position: relative;
    top: 25px;
    margin: auto;
    width: 80%;
    background-color: white;
    height: 450px;

}

div#intro {
    height: 205px;
    width: 80%;
    position: relative;
    top: 25px;
    margin: auto;
    border-top: 2px dotted grey;
    background-color: #f9f9f9;
}

div#content, .content {
    position: relative;
    height: 400px;
    top: 70px;
    left: 100px;
}

img {
    height: 56px;
    width: 331px;
}

h2.desc {
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
}

button.w3-btn.w3-black.w3-round.w3-hover-blue {
    position: relative;
    font-size: 25px;
    bottom: 210px;
    left: 710px;
    height: 68px;
    width: 188px;
}

p.stellingen {
    color: #4eb5dd;
    font-weight: bold;
    font-size: 20px;
}

img.slot {
    position: relative;
    height: 48px;
    right: 135px;
    top: 10px;
}

img.visueel {
    position: relative;
    right: 135px;
    height: 48px;
    top: 40px;

}

.cookies {
    position: relative;
    bottom: 60px;
    left: 80px;
    font-size: 15px;
    width: 290px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.toegankelijk {
    position: relative;
    left: 80px;
    bottom: 20px;
    font-size: 15px;
    width: 300px;
}

.stemmentracker {
    position: relative;
    bottom: 45px;
}

.stemmentracker:hover {
    border-bottom: 2px solid black;
}

.introtext {
    position: relative;
    bottom: 40px;
    font-size: 14px;
    max-width: 1000px;
}

h2#title {
    color: #4eb5dd;
    font-weight: bold;
    position: relative;
    bottom: 550px;
    left: 240px;
}

img#backArrow {
    position: relative;
    bottom: 850px;
    left: 160px;
    height: 30px;
    width: 30px;
}

img#backArrow:hover {
    position: relative;
    bottom: 850px;
    left: 157px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

p#statement {
    position: relative;
    bottom: 570px;
    left: 240px;
    font-size: 30px;
    max-width: 800px;
    height: 160px;
}



#btnGeen, #btnEens, #btnOneens {
    position: relative;
    bottom: 500px;
    left: 240px;
}

#btnGeen {
    width: 250px;
}

a#overslaan:hover {
    cursor: pointer;
}

a#overslaan {
    position: relative;
    bottom: 500px;
    left: 350px;
    color: #9b9b9b;
    font-size: 20px;
}

p#partijen {
    position: relative;
    bottom: 450px;
    left: 290px;
    font-size: 25px;
    width: 310px;
}
p#partijen:hover {
    cursor: pointer;
}

div#details {
    display: none;
    position: relative;
    bottom: 450px;
    left: 37px;
    margin: auto;
    background-color: #f3f3f3;
    width: 65%;
}

#partijen_details {
    font-size: 25px;
}

#closeDetails {
    cursor: pointer;
    position: relative;
    left: 910px;
    bottom: 60px;
    width: 25px;
    font-size: 25px;
}

/*#eens, #oneens, #geenvanBeide {*/
/*    position: relative;*/
/*    left: 40px;*/
/*    width: 200px;*/
/*    margin-left: 40px;*/
/*    padding-right: 100px;*/
/*    border-bottom: 2px solid black;*/
/*    font-size: 25px;*/
/*    font-weight: bold;*/
/*    display: inline;*/
/*}*/

#label, #weighted {
    position: relative;
    bottom: 400px;
    right: 600px;
}

#all, #big, #small, #partieTitle {
    position: relative;
    bottom: 150px;
    left: 250px;
    margin-right: 20px;
}

.partieLabel {
    position: relative;
    bottom: 150px;
    left: 250px;
}

#select {
    display: none;
}

#resultBtn {
    position: relative;
    left: 900px;
    display: none;
}
